.timer{
    background-color:lightblue;
    text-align: center;
    font-size:40px;
    border:2px solid black;
    margin-bottom: 20px;
}

.container-box{
    border:2px solid black;
    padding:10px;
    height:200px;
    background-color: darkolivegreen
}

body{
    background-color: gray;
}